.bangali{
    
        margin-left:170px;
    
}
.Womens{
    margin-left: 100px;
}
#login{
margin-left: 280px;
}
.Loog{
    color: white;
    margin-left: 20px;
        font-family: 'Dubai';
        padding-bottom: 30px;
    font-size: 50px;
}
.qntity
{
   
  margin-left: 480px;

}