body{
    background-position: 0;
}
.B
{

  
    margin-top: 20px;

}

@media screen and (min-width:1025px) 
{
    .title
{
    text-align: center;
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: linear-gradient(to right, rgba(30, 253, 0, 0.836) , rgb(255, 255, 255));
    color: white;
    background-color: rgb(0, 0, 0);
    
  
    
    border-radius: 300px;

  
   /* -webkit-background-clip: text; */
   /* -webkit-text-fill-color: transparent;  */
   /* -moz-background-clip: text; */
   /* -moz-text-fill-color: transparent; */
}
.main
{
    margin-top: 40px;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 10px;
    line-height: 80px;
}
.con
{
    background-image: url("img/BG.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    line-height: 30px;
}
.con input
{
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: auto;
}
.button
{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.986);
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;

}
.button:hover
{
    background-color: rgba(202, 202, 202, 0.753);
    color: black;

}
.link
{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0, 0, 0);
    border:none;
    margin-left: 130px; 
    font-size:x-large;
}  
.link:hover
{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;

}

.header
{
    background-color: rgb(59, 11, 11);
    box-shadow: gray;
    height: 100px;
    padding-left: 60px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Dubai';
    font-size: 60px;
    

}
}

@media screen and (max-width:1024px) and (min-width:801px) 
{
.title
{
    text-align: center;
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: linear-gradient(to right, rgba(253, 165, 0, 0.836) , rgb(255, 255, 255));
    background-color: rgb(255, 187, 0);
    background-image: linear-gradient(45deg, rgba(170, 14, 14, 0.664), #ff0000);
    background-size: 100%;
    background-repeat: repeat;

  
   /* -webkit-background-clip: text; */
   /* -webkit-text-fill-color: transparent;  */
   /* -moz-background-clip: text; */
   /* -moz-text-fill-color: transparent; */
}
.main
{
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    line-height: 80px;
}
.con
{
    background-image: url("img/BG.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    line-height: 30px;
}
.con input
{
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: auto;
}
.button
{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.986);
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;

}
.button:hover
{
    background-color: rgba(202, 202, 202, 0.753);
    color: black;

}
.link
{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(0, 0, 0);
    border:none;
    margin-left: 30px; 
    font-size:x-large;
}  
.link:hover
{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;

}
.logo
{
    width: 250px;
    height: 110px;
    border-radius: 30px;
    margin-left: 40px;

}
.header
{
    background-color: rgb(255, 255, 255);
    box-shadow: gray;
    

}
    
}
@media screen and (max-width:800px) and (min-width:481px)
{
    .title
{
    text-align: center;
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: linear-gradient(to right, rgba(253, 165, 0, 0.836) , rgb(255, 255, 255));
    background-color: rgb(255, 187, 0);
    background-image: linear-gradient(45deg, rgba(170, 14, 14, 0.664), #ff0000);
    background-size: 100%;
    background-repeat: repeat;

  
   /* -webkit-background-clip: text; */
   /* -webkit-text-fill-color: transparent;  */
   /* -moz-background-clip: text; */
   /* -moz-text-fill-color: transparent; */
}
.main
{
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
    line-height: 80px;
}
.con
{
    background-image: url("img/BG.jpg");
    background-size: cover;
    color: brown;
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    line-height: 30px;
}
.con input
{
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding: auto;
}
.button
{
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.986);
    border: none;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10%;

}
.button:hover
{
    background-color: rgba(202, 202, 202, 0.753);
    color: black;

}
.link
{
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(255, 216, 158);
    border:none;
    margin-left: 30px; 
    font-size:x-large;
}  
.link:hover
{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;

}
.logo
{
    width: 380px;
    height: 160px;
    border-radius: 30px;
    margin-left: 200px;

}
.header
{
    background-color: rgb(255, 255, 255);
    box-shadow: gray;
    

}
    
}
@media screen and (max-width:480px) 
{
    .title
    {
        text-align: center;
        margin: 0px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: linear-gradient(to right, rgba(253, 165, 0, 0.836) , rgb(255, 255, 255));
        background-color: rgb(255, 187, 0);
        background-image: linear-gradient(45deg, rgba(170, 14, 14, 0.664), #ff0000);
        background-size: 100%;
        background-repeat: repeat;
    
      
       /* -webkit-background-clip: text; */
       /* -webkit-text-fill-color: transparent;  */
       /* -moz-background-clip: text; */
       /* -moz-text-fill-color: transparent; */
    }
    .main
    {
        margin-top: 40px;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 10px;
        line-height: 80px;
    }
    .con
    {
        background-image: url("img/BG.jpg");
        background-size: cover;
        color: brown;
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 40px;
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 30px;
        line-height: 30px;
    }
    .con input
    {
        text-align: center;
        font-size:x-large;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: auto;
    }
    .button
    {
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.986);
        border: none;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10%;
    
    }
    .button:hover
    {
        background-color: rgba(202, 202, 202, 0.753);
        color: black;
    
    }
    .link
    {
        text-align: center;
        text-decoration: none;
        color: black;
        border-radius: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(255, 216, 158);
        border:none;
        margin-left: 30px; 
        font-size:x-large;
    }  
    .link:hover
    {
        background-color: rgba(255, 255, 255, 0.774);
        color: black;
    
    }
    .logo
    {
        width: 380px;
        height: 160px;
        border-radius: 30px;
        margin-left: 200px;
    
    }
    .header
    {
        background-color: rgb(255, 255, 255);
        box-shadow: gray;
        
    
    }
}